body {
	background-color: #e9e9e9;	
	font-family: arial;
}

#top-banner {
	background-color: #01426a;
	padding: 2%;
}

#option-elements {
	padding: 2%;
}

#form-content {
	padding: 0px 2%;
}

#option-content {
	padding: 2% 2% 0 2%;
}

#form-content,
#top-banner {
	margin: auto;
}

#title-header {
	font-size: 18px;
	margin-right: 2%;
}

#title-header, 
#updated, 
.button-text, 
.airline-code {
	color: #ffffff;
}

#updated {
	font-size: 16px;
}

button:disabled {
	background-color: grey;
}

.buttons {
	width: 200px;
	font-size: 14px;
	letter-spacing: 0.2px;
	background-color: #48850b;
	text-align: center;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.button-text {
	width: 200px;
	height: 16px;
	font-size: 14px;
	letter-spacing: 0.3px;
	text-align: center;
}

.buttons, 
.button-text, 
.labels, 
#airline-header span,
#metrics-header span {
	font-weight: bold;
}

#cancel-button {
	background-color: red;
}

#cancel-button:hover:enabled {
	background-color: #8B0000;
}

#submit-button {
	width: 50%;
}

#submit-button > .button-text {
	font-size: 28px;
	font-weight: lighter;
}

#submit-button-area {
	text-align: center;
	width: 25%;
	float: right;
}

.labels {
	font-size: 14px;
	color: #01426a;
}

.form-sections {
	margin-bottom: 1.5%;
}

.tab-item {
	list-style-type: none;
	display: inline;
	padding: 1% 3%;
	margin-right: 3%;
}

.tab-item:hover {
	cursor: pointer;
}

.active, .tab-item:hover {
	border-bottom: 3px solid #01426a
}

.active > span, .tab-item:hover span {
	color: #01426a;
}

.airline-code {
	font-size: 24px;
	letter-spacing: 0.6px;
	color: #2774ae;
}

.airline-code:hover {
	color: white;
	text-decoration: none;
}

#airline-header {
	color: #01426a;
	text-align: left;
	padding: 1% 2%;
	width: 40%;
}

#airline-header > span{
	font-size: 30px;
}

#airline-list {
	padding: 0;
	margin-top: 1%;
	margin-left: 5%;
	margin-bottom: 4%;
	width: 70%;
	float: left;
}

#action-button:hover:enabled, #submit-button:hover:enabled {
	background-color: rgb(0, 100, 0);
}

#nav-bar {
	background-color: #f5f5f5;
	height: 80px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
	padding: 1%;
}

#metrics-header span {
	color: #01426a;
	padding: 2%;
	font-size: 18px;
}

.loader {
	display: inline-block;
	/* width and height to border and border-top ratio: 7.5*/
    border: 2.67px solid #f3f3f3; /* Light grey */
    border-top: 2.67px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#metrics-data {
	padding: 0% 2% 2% 2%;
	margin-bottom: 5%;
}

.metrics-object {
	width: 10%;
	float: left;
}

.metric-type {
	font-size: 12px;
	font-weight: 500;
}

.metric-percent {
	color: #48850b;
	font-size: 16px;
	font-weight: bold;
}

.metric-goal {
	font-size: 11px;
	font-weight: 300;
}

.metric-type,
.metric-goal {
	color: #656565;
}

#option-content #updated-header {
	font-size: 18px;
	font-weight: bold;
	margin-right: 2%;
}

#option-content #updated-date-time {
	font-size: 14px;
}

#option-content #updated-header,
#option-content #updated-date-time {
	color: #01426a;
}

.option-item {
	float: left;
	width: 25%;
}

#option-elements {
	height: 100px;
}

.options-dropdown select {
	background: white;
	border: solid 1px #c8c9c7;
	border-radius: 0;
	font-size: 14px;
	height: 35px;
	width: 220px;
	padding: 5px; /* If you add too much padding here, the options won't show in IE */
	-webkit-appearance: none;
	appearance: none;
}

.options-dropdown select:hover {
	cursor: pointer;
}

.options-dropdown #date-dropdown {
	background: url('../assets/calendar_icon.png') no-repeat 97% 50% #ffffff;
	background-size: 20px 20px;
}

.options-dropdown #template-dropdown {
	background: url('../assets/dropdown_chevron.png') no-repeat 97% 50% #ffffff;
	background-size: 20px 15px;
}

.option-button {
	margin-top: 1%;
}

.option-button button {
	height: 50px;
	border-radius: 0;
}

.option-button span {
	font-weight: lighter;
	font-size: 22px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

	.airline-code, .buttons {
		font-size: 18px;
	}

	#updated {
		display: block;
		font-size: 12px;
	}

	.buttons {
		width: 100px;
	}
	
	.form-sections {
		margin-bottom: 5%;
	}

	#dropdown-left, #dropdown-right {
		margin-bottom: 7%;
	}

	#form-content {
		margin-top: 35%;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	#updated {
		display: block;
	}

	#dropdown-left, #dropdown-right {
		margin-bottom: 4%;
	}

	#form-content {
		margin-top: 5%;
	}

	.form-sections {
		margin-bottom: 3%;
	}
}

/* iPad pro (portrait and landscape) ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) { 

	.airline-code {
		font-size: 28px;
	}

	#updated {
		display: block;
		font-size: 18px;
	}

	#option-elements {
		margin-bottom: 5%;
	}

	.labels {
		font-size: 16px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

	.airline-code {
		font-size: 24px;
	}

	#updated {
		font-size: 18px;
	}

	.labels {
		font-size: 18px;
	}

	#option-elements, .form-sections {
		margin-bottom: 3%;
	}

	#nav-bar {
		height: 100px;
	}

	#nav-bar,
	#metrics-area {
		height: 100px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

	#updated {
		font-size: 32px;
	}

	.labels {
		font-size: 24px;
	}

	.text-area {
		font-size: 20px;
	}
}





